@import "primeflex/primeflex.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  /*--primary-color: red;*/
  /*--bg-primary: red*/
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: #f4f9fd;
  font-family: "Nunito Sans", sans-serif;
}

.Container {
  width: 100%;
  max-width: 1940px !important;
  margin: 0 auto;
  padding: 0 20px;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}
.sroll::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d4d8dc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfd3d7;
}
